{% extends 'base.html' %}
{% import 'macros.html' as  macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
{{ super() }}
{% endblock %}

{% block content %}
  {% if user_ip %}
    <h1>Hello, tu IP es {{ user_ip }}</h1>
  {% else %}
  <a href="{{ url_for('index') }}">Ir al inicio</a>
  {% endif %}
  <div class="container">
    <form action="." method="post">
      {{ wtf.quick_form(login_form) }}
    </form>
  </div>
  <div>
  {% for todo in todos %}
    {{ macros.render_todo(todo) }}
  {% endfor %}
  </div>
{% endblock %}